<div class="modal fade" id="kwl" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" id="new-response-form" action="@Url.Action("CreateNewResponse")">
                <div class="modal-header">
                    <h4>Question</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group col-lg-12">
                        <p><div id="tekst-pitanja"></div></p>
                        <input type="hidden" id="question-id" name="EntryId" value="" />
                    </div>
                    <div class="form-group">
                        <label for="contact-message" class="col-lg-2 control-label">Answer:</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="8" name="Response1" id="Response1"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="new-response-submit" type="submit">Submit</button>
                    <a class="btn btn-primary" data-dismiss="modal">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>