@model IEnumerable<Caterpillar.Models.KWLentry>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    var questions = [];

    @foreach (var item in Model) {
        @Html.Raw("questions.push({" +
            "entry: '" + Html.DisplayFor((modelItem => item.Entry)) + "'," +
            "id: '" + Html.DisplayFor((modelItem => item.Id)) + "'" +
        "});\n");
    }

</script>

<div id="caterpillar">
</div>

GUMB KOJI OTVARA MODAL - SAMO ZA TEST
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#kwl"> ovdje </button>


@Html.Partial("_NewResponseModal")

@Html.Partial("_NewEntryModal")