@model IEnumerable<Caterpillar.Models.KWLentry>

@{
    ViewBag.Title = "Caterpillar";
}

<script type="text/javascript">
    var questions = [];

    @foreach (var item in Model) {
        @Html.Raw("questions.push({" +
            "entry: '" + Html.DisplayFor((modelItem => item.Entry)) + "'," +
            "id: '" + Html.DisplayFor((modelItem => item.Id)) + "'" +
        "});\n");
    }

</script>

<div id="caterpillar">
</div>

@Html.Partial("_NewResponseModal")

@Html.Partial("_NewEntryModal")