@model IEnumerable<Caterpillar.Models.Response>

@{
    ViewBag.Title = "What I've learned";
}

<script type="text/javascript">
    var questions = [];

    @foreach (var item in Model) {
        @Html.Raw("questions.push({" +
                 "entry: " + Html.Raw(Json.Encode((item.Response1))) + "," +
                 "question: " + Html.Raw(Json.Encode((item.KWLentry.Entry))) + "," +
            "correction: '" + Html.DisplayFor((modelItem => item.Correction)) + "'," +
            "points: '" + Html.DisplayFor((modelItem => item.Points)) + "'," +                             
            "id: '" + Html.DisplayFor((modelItem => item.Id)) + "'" +
        "});\n");
    }

    jQuery(function () {
        caterpillar('#caterpillar', {
            tailOnClick: false, // or function()
            nodeOnClick: function (d) {
                $('#answer-delete').off('click');
                $('#kwl #tekst-pitanja').html(d.question);
                $('#kwl #question-id').val(d.id);
                $('#kwl #tekst-odgovora').html(d.text);
                $('#kwl #response-id').val(d.id);

                if (d.correction == 1) {
                    $('#kwl #tekst-ocijenjeno').html("yes");
                    $('#kwl #tekst-bodovi').html(d.points);
                    $('#kwl #answer-delete').attr("disabled", true);
                } else {
                    $('#kwl #tekst-ocijenjeno').html("no");
                    $('#kwl #tekst-bodovi').html("-");
                    $('#kwl #answer-delete').attr("disabled", false);

                    $('#answer-delete').click(function (e) {
                        e.preventDefault();

                        $.post($('#delete-answer-form').attr('action'),
                           $('#delete-answer-form').serialize(),
                           function (data, status, xhr) {
                               if (data.success === true) {
                                   $('#kwl').modal('hide');
                                   window.remove(data.id);
                                   window.update();
                               }
                               // do something here with response;
                           });

                        return false;
                    });
                }
                $('#kwl').modal('show');
            }
        });
    });
</script>

<div id="caterpillar">
</div>


@Html.Partial("_ShowResponseModal")
