.node {
  stroke: #fff;
  stroke-width: 1.5px;
  fill: #fde0c8;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.head {
  background-image: ('glava.png');
}

.tail {
    fill: blue !important;
}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}
