body{
	margin-bottom: 80px;
}

.page-header {
	margin-top: 0;
}

.panel-body {
	padding-top: 0;
}

.featuredImg{
	margin-bottom: 15px;
}

.lijeviTab{
	background-color: #F26522;
}

.list-group-item{
	margin-top: 10px;
	margin-bottom: 10px;
}

.navbar-brand{
	background-color: #F26522;
}