@model IEnumerable<Caterpillar.Models.User>


@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMainMenuAdmin.cshtml";
}


<h1 class="narancasto1bold" style="text-align:center" > Manage your <br />Caterpillar application </h1>


@{
   // var AdminName = (ViewData["Admin"] as Gusjenica.Models.User).Name;
    // var AdminSurname = (ViewData["Admin"] as Gusjenica.Models.User).Surname;
    var AdminName = Session["PrimljeniUser-Name"];
    var AdminSurname = Session["PrimljeniUser-Surname"];
}